<!DOCTYPE html>
<html lang="en">
<head>
<title>プロトタイプページです</title>
</head>
<body class="container">
<main>
	<p>dc2_proto_apiから取得したデータです</p>
<ul>
    <% users.forEach(function(u) { %>
        <li>
		<strong>[<%=u.id%>]<%= u.name %></strong>
        </li>
    <% }); %>
</ul>
</main>
</body>
</html>
